.rowlogin {
background: #fff;
padding: 2px;
margin: 100px auto;
width: 360px;
}

#shd{
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.loginer {
background-color: #fff;
padding: 20px;
margin-top: 20px;
}

.form-user {
font-family: 'Arial', 'Oxygen Mono', 'sans-serif';
font-size: 17px;
color: #333;
width: 310px;
padding: 3px 4px;
text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
border-radius: 0px;
border: none;
border-bottom: 2px solid #ccc;
}

.butn {
color: #fff;
width: 90px;
font-weight: bold;
background-color: #0099FF;
padding: 6px 12px;
margin-bottom: 0px;
font-size: 17px;
font-family: 'Arial', 'Oxygen Mono', 'sans-serif';
line-height: 1.42857;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border: 1px solid #ccc;
}

.butn:hover {
background-color: #007bff;
color: #eee;
border: 1px solid #eee;
}

.form:focus{
border-bottom: 2.4px solid #0099ff;
outline: none;
}

.eff{
transition: 0.7s ease all;
}